/* 最外层的下拉菜单输入框 */
.com-box{
    position:relative;
    box-sizing: border-box;
    margin:auto;
    width:400px;
    height:34px;
    padding-top:4px;
    border:1px solid #ccc;
    border-radius: 4px;
}

/* 已将添加的标签 */
.chip{
    position:relative;
    float:left;
    line-height:24px;
    padding:0 24px 0 6px;
    margin-left:4px;
    background-color:rgb(61, 42, 233); 
    border-radius: 12px 12px;
    color:white;
    font-size:14px;
}
    .chip .delete{
        position:absolute;
        right:5px;
        top:20%;
    }


/* 添加新标签，打开下拉下单的按钮 */
.add-btn{
    position:absolute;
    right:5px;
    top:50%;
    margin-top:-10px;
    width:18px;
    height:18px;
    border:1px solid #ccc;
    border-radius:50%;  
}
    .add-btn:hover{
        border-color:rgb(163, 214, 255); 
    }
    .add-btn:before,.add-btn:after{
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        right:0;
        margin:auto;
        content:"";
        display:block;
        height:2px;
        width:80%;
        background-color:#ccc;
        border-radius:1px;
        transition:.2s;
    }
    .add-btn:hover:before, .add-btn:hover:after{
        background-color:rgb(163, 221, 255); 
    }

    .add-btn:before{
        transform:rotate(90deg);
    }
    /* opened 旋转icon*/
    .add-btn.open:before{
        transform:rotate(45deg);
    }
    .add-btn.open:after{
        transform:rotate(-45deg);
    }

/* dropdown 菜单 */
.dropdown-menu{
    overflow:hidden;
    box-sizing:border-box;
    margin:auto;
    width:400px;
    height:auto;
    box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.1);
    /* border:1px solid #ccc; */
    border-radius: 4px;
    
    font-size:14px;
    color:#888;
    transition:.2s;
}


    /* searchBar */
    .dropdown-menu .search-bar-wp{
        position:relative;
        overflow:hidden;
        height:40px;
        background-color:#eee;

    }
    .dropdown-menu .search-bar{
        display:block;
        box-sizing: border-box;
        margin:5px auto;
        padding:0 30px;
        width:80%;
        line-height:28px;
        min-height:30px;
        border:1px solid #ccc;
        border-radius: 14px;
        outline: none;
        /* font-weight: 900; */
    }
    .dropdown-menu .search-bar:focus{
        border:1px solid rgb(157, 146, 255);
    }
    .dropdown-menu .icon-search{
        position:absolute;
        top:11px;
        left:48px;
        color:#666;
        font-weight: normal;
    }

    /* option list */
    .dropdown-menu .checkbox-list .input-wp{
        margin:20px 0;
        padding-left:30px;
        color:#444;
        
    }

    .dropdown-menu .checkbox-list input{
        display:inline-block;
        margin-right:20px;
        appearance: none;
        -ms-appearance:none;
        outline:none;
        vertical-align:middle;
    }
    .dropdown-menu .checkbox-list input::before{
        content:" ";
        display:inline-block;
        width:18px;
        height:18px;
        border-radius:6px;
        background:url("../../assets/checkbox.png") no-repeat 0 0/18px 36px;
        cursor:pointer;
    } 

    .dropdown-menu .checkbox-list input:checked::before{
        content:" ";
        background:url("../../assets/checkbox.png") no-repeat 0 -18px/18px 36px;
    }

    .dropdown-menu .checkbox-list label{
        cursor:pointer;
    }



